mixin oss-panel(name, link, description, relationship)
	- var icon = (relationship === 'Author') ? 'fa-code' : 'fa-code-fork'
	div.oss-panel
		div(class="panel")
			div.panel-heading 
				h4
					span #{name}
						a(href=link, target="_blank")
							i(class="fa #{icon}") &nbsp;		
							span #{relationship}					
			div.panel-body 
				div.description #{description}
				a(href=link, target="_blank" class="btn-github") 
					i(class="fa fa-github") &nbsp;					
					span View on Github

extends ../layouts/layout
block head
block content
	header
		div(class="logo-wrapper")
			object(data="public/logo-collar.svg", class="logo")
		div(class="name")
			h1(itemprop="name") Dom Barker
			h2(itemprop="title") software engineer
			.spacer
	div(class="row")
		div(class="content")
			section(class="about")
				h3 About
				p I am a <span itemprop="address" itemtype="http://data-vocabulary.org/Address" itemscope="itemscope"><span itemprop="region">Hertfordshire</span></span> based <span itemprop="role">engineer</span> with over 10 years experience of solving challenging technical problems. My main focus is full stack web and mobile development. I'm a passionate supporter of genuine agile processes and regard Test Driven Development as being the best way to write complex software that works well.
				p I prefer to use the right tool to solve the task in hand, rather than specialising in any particular technology. I am especially enthusiastic about open source, rapid development toolsets like <a href="http://rubyonrails.org/" title="Ruby On Rails">Ruby on Rails</a> and <a href="http://nodejs.org/" title="Node.js">Node.js</a>.
				p Right now I'm very happily employed at <a itemprop="organization" title="Quill Content" href="http://www.quillcontent.com/">Quill Content</a> creating and scaling a SASS platform. I'm not looking to take on any new projcets. Sorry recuiters.
			section(class="tech")
				h3 Tech
				p These of are some of the technologies that I have been using commercially in the recent past.
				ul
					li
						div(class="icon")		
							object(data="public/node.svg",width="80px")
					li
						div(class="icon")
							object(data="public/ruby.svg",width="80px")
					li
						div(class="icon")
							i(class="fa fa-html5")
					li
						div(class="icon")
							i(class="fa fa-css3")

			section(class="contact")
				h3 Contact
				p If you want to get in touch, feel free to use one of these:
				ul
					li
						div(class="icon")
							a(href="https://github.com/Dakuan", title="Contact me on github" rel="author")
								i(class="fa fa-github")
					li
						div(class="icon")
							a(href="http://uk.linkedin.com/in/dombarker", title="Connect with me on LinkedIn" rel="author")
								i(class="fa fa-linkedin")
					li
						div(class="icon")
							a(href="mailto:dom.barker808@gmail.com", title="Drop me an email" rel="author")
								i(class="fa fa-envelope")
					li
						div(class="icon")
							a(href="https://twitter.com/MostlyHarmlessD", title="Tweet me" rel="author")
								i(class="fa fa-twitter")

			section(class="open-source")
				h3 Open Source
				p I've authored and contributed to a few open source projects.
				div.panels
					mixin oss-panel("Jumanji", "http://github.com/Dakuan/jumanji", "Jumanji is an express middleware component that hacks around a Safari bug. It's not big and it's not clever but it's got users seeing pages again.", "Author")
					mixin oss-panel("Gulp-jest", "http://github.com/Dakuan/gulp-jest", "Gulp plugin that can run some or all of your Jest tests", "Author")
					mixin oss-panel("Jest", "http://github.com/facebook/jest", "Painless Javascript testing built on top of the Jasmine test framework, using familiar expect(value).toBe(other) assertions", "Contributor")
					mixin oss-panel("Bootstrap", "http://github.com/twbs/bootstrap/", "Bootstrap is a sleek, intuitive, and powerful front-end framework for faster and easier web development, created by Mark Otto and Jacob Thornton, and maintained by the core team with the massive support and involvement of the community.", "Contributor")			
				
			